#hospital-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 0px 10px 0px;
}

.directions-header {
    font-size: 1.2rem;
}

#hospital-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#directions-container-hospital {
    width: 49%;
}

#maps-contianer-hospital {
    width: 49%;
    height: 60vh;
}

@media (max-width: 1000px) {
    #hospital-container {
        flex-direction: column;
    }

    #directions-container-hospital {
        width: 100%;
    }

    #maps-contianer-hospital {
        width: 100%;
    }
}