* {
    font-family: Verdana, Geneva, sans-serif
}

#department-title {
    font-size: 3em;
}

.nav-logo {
    display:flex;
    height: 50px;
    width: 50px;
    padding: 10%;
}

.nav-item {
    font-size: 1.1em;
    margin: auto 10px;
}
